{% extends "base.html" %}
{% block page_title %}
GW 사전설문
{% endblock page_title %}

{% block content %}
<div class="border mt-24 ">
    <h1 class="border text-center text-4xl font-medium mb-5 mx-3 bg-yellow-400 rounded-3xl">사전 설문지</h1>
</div>

<div class="container mx-auto mx-5">

    <a href="https://forms.gle/NY4oXUMgp5FJmxdUA" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">사전 통합 설문(클릭)</h1>
        </div>
    </a>

</div>

{% endblock content %}