{% extends "base.html" %}

{% load static %}

{% block page_title %}
GW 운동영상
{% endblock page_title %}

{% block content %}
<div class="border mt-24 ">
    <h1 class="border text-center text-4xl font-medium mb-5 mx-3 bg-yellow-400 rounded-3xl">운동 영상</h1>
</div>

<div class="container mx-auto mx-5">

    <a href="{% url 'lectures:lecture1' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">1주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture2' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">2주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture3' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">3주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture4' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">4주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture5' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">5주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture6' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">6주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture7' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">7주차</h1>
        </div>
    </a>

    <a href="{% url 'lectures:lecture8' %}" class="mr-6">
        <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
            <h1 style="color:black" , class="mt-5">8주차</h1>
        </div>
    </a>

</div>


{% endblock content %}