{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Golden Wellbeing 공지사항</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'notices/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>

<body class="text-gray-800">
    <header
        class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-amber-500 fixed bg-yellow-500">
        <div class="flex items-center w-1/3">
            <a href="{% url 'notices:index' %}" class="mr-2">
                <img class="w-16" src="{% static 'img/SNU.png' %}" />
            </a>
        </div>
        <h1 class="text-center">Golden Wellbeing</h1>
        {% include "partials/nav.html" %}

    </header>

    <div class="container mx-auto mx-5 my-10 mt-24 flex flex-col p-20 border-gray-400 bg-yellow-200 rounded-xl">
        <h1 class="border text-center text-4xl font-medium mb-5 -mx-10 bg-yellow-400 rounded-3xl">공지사항</h1>

        <div class="box-content -mx-8 whitespace-normal text-xl">

            <h2>운동영상: 매주 월, 수, 금 1회씩 실시</h2>
            <h2>운동일지: 매번 실제 운동 후 작성</h2>
            <h2>설 문 지: 사전설문지 참여 필수</h2>
            <h1 class="text-center text-red-600">★주의★</h1>
            <h2 class="text-center text-red-600">영상 및 어플 타인 공유 금지</h2>
            <!-- {% if notices %}
            <ul>
                {% for notice in notices %}
                <li>{{ notice.body}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>공지사항 없음.</p>
            {% endif %} -->
        </div>


        <div class="box-content -mx-8 whitespace-normal text-xl">
            <h2>프로그램에 대한 자세한 안내는 [안내서]를 클릭하세요.</h2>
        </div>



    </div>


    <div class="container mx-auto mx-5">

        <a href="{% url 'lectures:lecture' %}" class="mr-6">
            <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
                <h1 style="color:black" , class="mt-5">운동영상 <i class="fas fa-running"></i></h1>
            </div>
        </a>

        <a href="https://forms.gle/YAfH67ExboYeXU3a9" class="mr-6">
            <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
                <h1 style="color:black" , class="mt-5">운동일지 <i class="fas fa-book"></i></h1>
            </div>
        </a>

        <a href="{% url 'surveys:survey' %}" class="mr-6">
            <div class="border text-center text-3xl mx-5 h-20 bg-gray-400 place-content-center rounded-xl">
                <h1 style=" color:black" , class="mt-5">설문지 <i class="fas fa-file-alt"></i></h1>
            </div>
        </a>

        <a href="{% url 'notices:info' %}" class="mr-6">
            <div class="border text-center text-3xl mx-5 h-20 bg-pink-500 place-content-center rounded-xl">
                <h1 style="color:black" , class="mt-5">안내서<i class="fas fa-info-circle"></i></h1>
            </div>
        </a>



        <div>
            {% include "partials/footer.html" %}
        </div>
    </div>

</body>

</html>