{% extends "base.html" %}

{% load static %}

{% block page_title %}
GW 프로그램안내
{% endblock page_title %}

{% block content %}

<div class="border mt-24 ">
    <h1 class="border text-center text-4xl font-medium mb-5 mx-3 bg-pink-500 rounded-3xl">프로그램 안내서</h1>
</div>

<div class="flex flex-col  mx-auto">
    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_001.png' %}" />
    </div>

    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_002.png' %}" />
    </div>

    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_003.png' %}" />
    </div>

    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_004.png' %}" />
    </div>

    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_005.png' %}" />
    </div>

    <div class="mb-10 px-2 h-full overflow-hidden">
        <img src="{% static 'img/골든웰빙_006.png' %}" />
    </div>




</div>

{% endblock content %}