{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Golden Wellbeing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'notices/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>

<body>
    <header
        class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-amber-500 fixed bg-yellow-500">
        <div class="flex items-center w-1/3">
            <a href="{% url 'notices:index' %}" class="mr-6">
                <img class="w-16" src="{% static 'img/SNU.png' %}" />
            </a>
        </div>
        <h2> SNU Golden Wellbeing </h2>
        {% include "partials/nav.html" %}
        </div>

    </header>

    {% block content %}{% endblock %}

    <div id="footer">
        {% include "partials/footer.html" %}
    </div>

</body>

</html>